<!DOCTYPE html>
<html>
<head>
  <title>New Post</title>
</head>
<body>
<form method="POST" action="/post">

<label for="post[name]">Name:</label><br>
<input name="post[name]" id="name"><br>
<label for="post[content]">Content:</label><br>
<input name=post[content] id="content"><br>
<button type="submit" name="submit" id="submit">Submit</button>
</form>
</body>
</html>